torch>=2.0.0
torchvision
torchaudio
wfdb
numpy
pandas
scikit-learn
matplotlib
seaborn
onnx
onnxruntime
onnxscript
tensorflow>=2.13.0
tf_keras
tf2onnx
onnx2tf
onnx-graphsurgeon
onnxsim
sng4onnx
psutil
ai-edge-litert
